html{scroll-behavior: smooth}

body {margin: 0;
  text-align:center;
  background-image: url("nebula.jpg");
  background-size: cover;
  font-family: "nasalizationregular", sans-serif;
  color: rgb(239,190,27);
}

.header {background-image: url("heart-nebula.jpg");
  background-size: cover;
  background-position: center;
  height:100px;
  width: 100%;
  display:block;
  position: sticky;
  top: 0;
  z-index: 2;
  transform:translateX(0%);
}

a:link{text-decoration: none;}

.home{display:inline-block;
text-align:center;
position:absolute;
top:30px;
left: 100px;
margin-left: 20px;
font-family: "nasalizationregular", sans-serif;
font-size: 1.5rem;
color: rgb(239,190,27)}

.home:hover{
  color:red;
  display:inline;
  background-color: rgb(239,190,27);
  clear:both;
  padding-left: 5px;
  padding-right: 5px;
}
.menus{display:inline-block;
  position:relative;
margin: 20px auto 10px auto;
top:10px;
font-family: "nasalizationregular", sans-serif;
color: rgb(239,190,27);
font-size: 1.5rem;
border-top-style: none;
border-bottom-style: none;
border-left-style:solid;
border-right-style: none;
border-radius: 2px;
padding-left: 5px;
padding-right: 2px;
}
.menus:hover{
  display:inline;
  color:red;
}
.porto{
  border-right-style: solid;
  padding-right: 5px;
}

.reach{font-family:"nasalizationregular", sans-serif;
font-size: 1.5rem;
color: rgb(239,190,27);
  display: inline-block;
position:absolute;
right: 100px;
border-style: solid;
border-radius: 30px;
box-sizing: border-box;
bottom:30px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
background-size: 2px 1px;
}

.reach:hover{
  background-color: rgb(239,190,27);
  color: red;
}

.project-title{
  margin:auto;
  height: 100px;
}

.project-content{
  margin-top: 20px;

}

h2{
  text-align: left;
}
.project-row{
  width: 50%;
  margin: auto;
  padding-top: 30px;
  margin-bottom: -30px;
}
img{
  float: left;
  width: 25%;
  margin: 20px 30px 10px 0;
}

hr{
  color: rgb(239,190,27);
   border: none;
   border-top-style: dashed;
   border-width: 5px;
   width: 15%;
   clear: both;
   margin-top: 20px;
   margin-bottom:30px;
}
a{
  color: rgb(239,190,27);
  text-align: left;
  position: absolute;
}

a:hover{
  color:#FC3D21
}
.p-title{
  margin-top: -20px;
}
.p-content{
  text-align: left;
}
