@font-face {
    font-family: 'nasalizationregular';
    src: url('https://vikockroach.github.io/Anugrah-CV/CSS/nasalization-rg-webfont.woff2') format('woff2'),
         url('https://vikockroach.github.io/Anugrah-CV/CSS/nasalization-rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
